@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
  background-color: #AFD0E8;
}


.logo {
  background-color: #AFD0E8;
  padding: 20px 0px;
  text-align: center;
  width: 20%;
  float: left;
  margin-left: 5%;
}

.logo img {
  max-width: 780px;
  width: 100%;
}

.links {
    float: right;
    margin-top: 5%;
    margin-right: 5%;
    font-size: 1rem;
    font-weight: lighter;
    color: #4b4e61;
}

.links a {
  color: white;
  text-decoration: none;
  font-family: 'Oswald';
  padding-left: 10px;
  padding-right: 10px;

}

a:hover {
  color: #D9481B;
}

.about {
  float: left;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 0.75rem;
  color: white;

}


.imagetitlesNG {
  background-color: #759C98;
  color: white;
  font-family: 'Oswald';
  font-weight: lighter;
  float: left;
  text-align: center;
  padding: 20px;
}

.imagetitlesIS {
  background-color: #85BFCF;
  color: white;
  font-family: 'Oswald';
  font-weight: lighter;
  float: left;
  text-align: center;
  padding: 20px;
}

.imagetitlesILL {
  background-color: #D9481B;
  color: white;
  font-family: 'Oswald';
  font-weight: lighter;
  float: left;
  text-align: center;
  padding: 20px;


}

.images img {
  width: 30%;
  max-width: 500px;
  margin: 10px;

}


@media screen and (max-width: 800px) {
  .images img {
    width: 40%;
  }
  .links {
    margin-top: 50px;
    text-align: center;
    font-size: 0.75em;
  }
  .logo {
    width: 30%;
  }
}
